@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --primary-bg-color: #024ddf;
  --primary-color: #ffffff;
  --accent-color: #FFD700;
  --button-color: #000000;
  --font-primary: "Inter", sans-serif;
  --font-title: "Monsterrat", sans-serif;
}
/* Reset para eliminar margenes ocultos (*) seleccionador global */
* { 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  color: var(--primary-color);
  line-height: 1.6;
  font-family: var(--font-primary);
}
h1{
  font-family:var(--font-title);
}
img{
  max-width: 100%;
  height: auto;
}

a{
  text-decoration: none;
  color: inherit;
}
/* Utilizará la fuente primaria que en este caso es Inter */
button, input, select{ 
  font-family: inherit;
}
/* Mobile */
@media (max-width: 480px) {
  
}

/* Tablet */
@media (max-width: 768px) {
}









