body {
  background-color: var(---primary-bg-color);
  font-family: var(---font-primary);
}
.landing-page {
  height: 60vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(---primary-color);
  justify-content: center;
  align-items: center;
}
.landing-page > h2 {
  font-weight: 300;
}
.landing-page > button {
  padding: 1rem;
  background-color: var(---accent-color);
  color: var(---button-color);
  border-radius: 0.5rem ;
  cursor: pointer;
  width: 15%;
  box-shadow: 0.1rem 0.1rem 0.1rem;
  font-weight: bold ;
  font-size: 1rem;
}
.article-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(---primary-color);
    font-weight: 200;
    margin-bottom: 5rem;
}
.article-page > img{
    width: 20rem;
}