@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  ---primary-bg-color: #024ddf;
  ---primary-color: #ffffff;
  ---accent-color: #e8aa00;
  ---button-color: #000000;
  --font-primary: "Inter", sans-serif;
}

header.nav-bar {
  text-align: right;
}

.nav-bar {
  width: 100%;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
}

.navBar-title {
  text-decoration: none;
  margin-right: 15px;
}

.nav-container ul,
.nav-container img,
.nav-container form,
.nav-container button,
.nav-container a {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}

.nav-bar {
  width: 100%;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
}

.navBar-title {
  text-decoration: none;
  margin-right: 15px;
}

#accountButton {
  background: transparent;
  border: none;
  cursor: pointer;
}

#accountButton > img {
  width: 50px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logo {
  transform: rotate(109deg);
  width: 90px;
}

#accountButton {
  width: 30px;
  height: 30px;
}

.input > submit {
  margin-top: 12px;
}

.forms {
  display: flex;
  flex-direction: row;
  padding: 14px;
  align-content: space-around;
  width: 20%;
}
