:root {
  ---primary-bg-color: #024ddf;
  ---primary-color: #ffffff;
  ---accent-color: #e8aa00;
  ---button-color: #000000;
}

/*body {
  background-color: var(--primary-bg-color);
}
**/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.input > submit {
  margin-top: 12px;
}

.forms {
  display: flex;
  flex-direction: row;
  padding: 14px;
  align-content: space-around;
  width: 20%;
}
