body {
  background-color: var(--primary-bg-color);
  color: white;
  height: 100vh;
}

/* Background Main-Page*/
.background-image {
  background-image: url(/Assets/img/images/landingPage.jpg);
  height: 600px;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
/* Improve opacity */
.background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.title {
  padding: 20px;
  display: flex;
  z-index: 1;
  max-width: 800px;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.title h1 {
  margin-bottom: 1rem;
  width: 450px;
  flex-wrap: wrap;
  font-weight: 700;
}
.title h2 {
  margin-bottom: 2rem;
}

.btn {
  padding: 1rem;
  background-color: #ffd700;
  border-radius: 0.5rem;
  width: 200px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}
.background-image2 {
  background-image: url(/Assets/img/images/LandingPage2.avif);
  height: 500px;
  max-width: 500px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2rem;
  position: relative;
}

.subtitle {
  margin-bottom: 1rem;
  flex-wrap: wrap;
  color: var(--primary-color);
  z-index: 1;
  text-align: center;
}
.subtitle h3 {
  font-size: 2rem;
  font-weight: 600;
}
