body {
  background-color: var(--primary-bg-color);
  color: white;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

.background-image {
  background-image: url(/Assets/img/images/landingPage.jpg);
  min-height: 80vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  padding: 0 2rem;
}

.background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.title {
  padding: 20px;
  display: flex;
  z-index: 1;
  max-width: 1600px;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.title h1 {
  margin-bottom: 1rem;
  width: 100%;
  max-width: 900px;
  flex-wrap: wrap;
  font-weight: 700;
  font-size: clamp(2.5rem, 5vw, 4rem);
}

.title h2 {
  margin-bottom: 2rem;
  font-weight: 400;
  width: 100%;
  max-width: 800px;
  font-size: clamp(1.25rem, 2.5vw, 1.75rem);
}

.btn {
  padding: 0.75rem 2.5rem;
  background-color: var(--accent-color);
  border-radius: 0.5rem;
  width: fit-content;
  font-weight: bold;
  cursor: pointer;
  color: black;
  font-size: clamp(1.25rem, 2vw, 1.5rem);
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
}

.btn:hover {
  transform: scale(1.05);
  background-color: hsl(50, 100%, 60%);
}

.background-image2 {
  background-image: url(/Assets/img/images/LandingPage2.avif);
  height: 500px;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2rem;
  background-size: cover;
  background-position: center;
}

.subtitle {
  margin-bottom: 2rem;
  padding: 0 2rem;
  color: var(--primary-color);
  z-index: 1;
  text-align: center;
}

.subtitle h3 {
  font-size: clamp(2rem, 4vw, 3.5rem);
  font-weight: 500;
}

/* Tablet */
@media (max-width: 768px) {
  .title h1 {
    font-size: clamp(2rem, 4vw, 3rem);
  }
  .title h2 {
    font-size: clamp(1rem, 3vw, 1.5rem);
  }
}

/* Mobile */
@media (max-width: 480px) {
  .background-image {
    min-height: 60vh;
  }
  .btn {
    padding: 0.5rem 1.5rem;
  }

  .subtitle h3 {
    font-size: clamp(1.5rem, 5vw, 2.5rem);
  }
}
