body {
  background-color: var(---primary-bg-color);
  margin: 0;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 20px;
}

.login > h1 {
  color: white;
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}
/* FORMULARIO */
.forms {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: center;
}

.forms form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.forms label {
  color: white;
  font-size: 14px;
}

#user,
#password {
  width: 100%;
  padding: 14px;
  border-radius: 6px;
  border: none;
  font-size: 14px;
  min-width: 400px;
}

/* ENLACE OLVIDAR CONTRASEÑA */
.forms a {
  align-self: center;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: underline;
  font-weight: bold;
}

/* BOTÓN LOGIN */
.forms input[type="submit"] {
  align-self: center;
  background-color: var(--accent-color);
  color: black;
  border: none;
  border-radius: 6px;
  width: 200px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.forgot-password {
  margin-top: 1rem;
}
.login-user {
  margin: 1rem 0 1rem;
}
/* CREAR CUENTA */
.crearCuenta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: white;
}

.crearCuenta span {
  font-size: 16px;
}

.crearCuenta a {
  background-color: white;
  color: black;
  padding: 12px 30px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}

/* Mobile */
@media (max-width: 480px) {
}

/* Tablet */
@media (max-width: 768px) {
}
