main {
  display: flex;
  justify-content: center;
}
.profile-grid {
  width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 80px;
  row-gap: 18px;
  align-items: start;
}
#profile-title {
  font-family: var(--font-title);
}
/* El círculo ocupa varias filas */
.avatar {
  grid-column: 2;
  grid-row: 1 / 5; /* CLAVE: invade nombre, apellido1, apellido2, genero */
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #e0e0e0;
  justify-self: center;
}

/* Campos */
.field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.field.full {
  grid-column: 1 / -1;
}

.field:has(#ciudad) {
  grid-column: 1 / -1;
}

.field label {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.3px;
}

.field input,
.field select {
  height: 42px;
  border-radius: 8px;
  border: none;
  padding: 0 14px;
  font-size: 14px;
  background-color: #ffffff;
  color: #000;
}

.field input::placeholder {
  color: #777;
}
.profile-fieldset {
  border: none;
}
.field input:focus,
.field select:focus {
  outline: none;
}
.actions {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.actions button {
  background-color: var(--accent-color);
  color: #000;
  border: none;
  padding: 20px 70px; 
  font-size: 18px; 
  border-radius: 10px;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
}
/* Mobile */
@media (max-width: 480px) {
  
}

/* Tablet */
@media (max-width: 768px) {
}