body {
  background-color: var(---primary-bg-color);
  color: white;
  margin: 0;
}

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text > div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#createAccount-button {
  background-color: white; /* azul */
  color: black;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}
