.register-section {
  display: flex;
  justify-content: center;
  padding: 60px 0;
  flex-direction: column;
}
.register-section h1{
  text-align: center;
  font-size: 3rem;
}

.register-form {
  width: 1100px;
}

.register-grid {
  display: grid;
  grid-template-columns: 1fr 280px;
  column-gap: 50px;
  row-gap: 16px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.field.full {
  grid-column: 1 / -1;
}

.avatar {
  grid-column: 2;
  grid-row: 1 / 6; 
  width: 260px;
  height: 260px;
  border-radius: 50%;
  background-color: #e0e0e0;
  justify-self: center;
}

label {
  font-size: 13px;
  font-weight: 600;
}

input,
select {
  height: 42px;
  border-radius: 8px;
  border: none;
  padding: 0 14px;
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.actions button {
  background-color: #ffd400;
  color: #000;
  padding: 16px 70px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
/* Mobile */
@media (max-width: 480px) {
  
}

/* Tablet */
@media (max-width: 768px) {
  
}