<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contraseña Olvidada | Forever Events</title>
    <meta
      name="description"
      content="¿Te has olvidado de tu contraseña? Rellena tus datos para cambiarla."
    />

    <link rel="stylesheet" href="/Assets/css/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <header class="nav-bar-login">
      <a href="landingPage.html" aria-label="Forever Events inicio">
        <img
          class="logo"
          src="/Assets/img/logoForever.png"
          alt="Logotipo de Forever Events"
        />
      </a>
    </header>

    <main class="forgot-main">
      <div class="forgot">
        <h1>Recuperar contraseña</h1>

        <div class="forms">
          <form action="login.php" method="post">
            <label for="user">Introduce el e-mail asociado a tu cuenta </label>
            <div class="field">
              <input
                type="email"
                name="user"
                id="user"
                minlength="5"
                placeholder="Introduce tu correo electrónico"
                required
              />
            </div>

            <input
              type="submit"
              value="Recuperar contraseña"
              class="password-user"
            />
          </form>
        </div>
        <a href="login.html"> Volver a iniciar sesion </a>
      </div>

      <div class="crearCuenta">
        <span>¿Usuario nuevo?</span>
        <a href="register.html">Crear cuenta</a>
      </div>
    </main>
  </body>
</html>
