<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    <!-- GLOBAL CSS every css is there -->
    <link rel="stylesheet" href="/Assets/css/main.css" />
  </head>

  <body>
    <main>
      <header class="nav-bar">
        <!-- IZQUIERDA -->
        <nav class="nav-left">
          <a href="landingPage.html">Inicio</a>
          <a href="#">Eventos</a>
          <a href="#">Crear Eventos</a>
        </nav>

        <!-- CENTRO -->
        <div class="nav-center">
          <img class="logo" src="/Assets/img/logoForever.png" alt="logotipo" />
        </div>

        <!-- DERECHA -->
        <div class="nav-right">
          <form class="search-wrapper">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="search" placeholder="Buscador de eventos" />
          </form>

          <button id="login-button"><a href="login.html">Iniciar Sesión</a></button>

          <a href="profile.html" id="accountButton">
            <img src="/Assets/img/icons/account.png" alt="account settings" />
          </a>
        </div>
      </header>
      <article>
        <section class="background-image">
          <div class="title">
            <h1>Organizador de Eventos Avanzado</h1>
            <h2>
              Eventos perfectos sin estrés. Bodas, corporativos, cumpleaños
            </h2>
            <button class="btn">Descubre cómo</button>
          </div>
        </section>
        <div class="subtitle">
          <h3>Gestión de eventos sin complicaciones</h3>
        </div>
        <section class="background-image2"></section>
      </article>
      <footer>
        <h3>Forever Events</h3>
        <div class="footer-box-1">
          <div>
            <h4>Contacto</h4>
            <ul>
              <li>Teléfono: +34 676 67 67</li>
              <li>Gmail: contact@foreverevents.com</li>
              <li>Ubicación: Calle Ramón Llull, 67</li>
            </ul>
          </div>
          <img src="" alt="" />
        </div>
        <div class="footer-box-2">
          <div>
            <h4>Redes Sociales</h4>
          </div>
          <div>
            <h3>Politicas:</h3>
            <div></div>
          </div>
        </div>
      </footer>
    </main>
  </body>
</html>
