<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forever Events</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/landingpage.css" />
  </head>
  <body>
    <main>
      <div class = "landing-page">
        <h1>Organizador de Eventos Avanzado</h1>
        <h2>Eventos perfectos sin estrés. Bodas, corporativos, cumpleaños</h2>
        <button>Descubre cómo</button>
      </div>
      <div class = "article-page">
        <h3>Gestión de eventos sin complicaciones</h3>
        <img src="/img/WomansParty.jpg" alt="" />
      </div>
      <div>
        <h2>Forever Events</h2>
        <footer class="contact-footer">
          <div>
            <h3>Contacto</h3>
            <p>Teléfono: +34 678 67 67</p>
            <p>Gmail: contacct@foreverevent.com</p>
            <p>Ubicación: Calle Ramón LLull, 67</p>
          </div>
          <div><img src="" alt="" />Ubicación</div>
        </div>
        <div class="footer-social-media">
          <div class="redes-sociales">
            <img src="" alt="" />Ig <img src="" alt="" />Facebook
            <img src="" alt="" />Youtube
          </div>
          <div>
            <h3>Politicas</h3>
            <ul>
              <li><a href="">Politicas de privacidad</a></li>
              <li><a href="">Aviso Legal</a></li>
              <li><a href="">Terminos y condiciones</a></li>
              <li><a href="">Cookies</a></li>
            </ul>
          </div>
        </div>
        <p>© 2025 Forever Events. Todos los derechos reservados.</p>
    </foooter>
    </main>
  </body>
</html>
