<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="profile.css">
</head>
<body>
    <div class="nav-bar">
      <a class="navBar-title">Inicio</a>
      <a class="navBar-title">Eventos</a>
      <a class="navBar-title">Crear Eventos</a>
      <img class="logo" src="/img/logoForever.png" />
      <form action="" method="get">
        <input type="search" name="search" id="search" />
      </form>
      <button id="login-button">Iniciar Sesión</button>
      <button class="account-button">
        <a href="landingPage.html" target="_blank">
          <img src="/img/accountLogo.png" alt="account" />
        </a>
      </button>
    </div>
    <div class="profile">
        <h1>TU PERFIL:</h1>
        <div class="text">
            <div class="short">
            
            </div>
            <div class="long">
                <h4>CÓDIGO POSTAL</h4>
                    <div class="input_long">
                        <p>08005</p>
                    </div>
                <h4>POBALCIÓN</h4>
                    <div class="input_long">
                        <p>Barcelona</p>
                    </div>
                <h4>CONTRASEÑA</h4>
                    <div class="input_long">
                        <p>***************</p>
                    </div>
            </div>
            <button>Guardar Perfil</button>
        </div>
    </div>
</body>
</html>