<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/register.css"/>
  </head>
  <body>
    <div class="nav-bar">
      <a class="navBar-title">Inicio</a>
      <a class="navBar-title">Eventos</a>
      <a class="navBar-title">Crear Eventos</a>
      <img class="logo" src="/img/logoForever.png" />
      <form action="" method="get">
        <input type="search" name="search" id="search" />
      </form>
      <button id="login-button">Iniciar Sesión</button>
      <button class="account-button">
        <a href="landingPage.html" target="_blank">
          <img src="/img/accountLogo.png" alt="account" />
        </a>
      </button>
    </div>
    <div class="register">
      <h1>Crear Cuenta</h1>
      <div class="text">
          <div class="short">
            <h4>Idioma</h4>
              <div class="input">
                <p>Introduce tu idioma</p>
              </div>
            <h4>Nombre</h4>
              <div class="input">
                <p>Introduce tu nombre</p>
              </div>
            <h4>Primer Apellido</h4>
              <div class="input">
                <p>Introduce tu primer apellido</p>
              </div>
            <h4>Segundo Apellido</h4>
              <div class="input">
                <p>Introduce tu segundo apellido</p>
              </div>
            <h4>Fecha de Nacimiento</h4>
              <div class="input">
                <p>dd/mm/aaaa</p>
              </div>
          </div>
          <div class="long">
            <h4>Correo Electrónico</h4>
              <div class="input_long">
                <p>Introduce tu correo electrónico</p>
              </div>
            <h4>Teléfono</h4>
              <div class="input_long">
                <p>Introduce tu teléfono</p>
              </div>
            <h4>Tipo de Documento</h4>
              <div class="input_long">
                <p>DNI/NIE/NIF</p>
              </div>
            <h4>Documento de Identidad</h4>
              <div class="input_long">
                <p>Introduce tu documento de identidad</p>
              </div>
            <h4>Ciudad</h4>
              <div class="input_long">
                <p>Introduce tu ciudad</p>
              </div>
            <h4>Código Postal</h4>
              <div class="input_long">
                <p>Introduce el código postal</p>
              </div>
            <h4>Población</h4>
              <div class="input_long">
                <p>Introduce la población</p>
              </div>
            <h4>Clave de Acceso</h4>
              <div class="input_long">
                <p>Introduce la clave de acceso</p>
              </div>
            <h4>Repetir Clave de Acceso</h4>
              <div class="input_long">
                <p>Vuelve a introducir tu clave de acceso</p>
              </div>
          </div>
          <button>Crear Cuenta</button>
      </div>
      

    </div>

  </body>
</html>