.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  position: relative;
}

/* IZQUIERDA */
.nav-left {
  display: flex;
  gap: 50px;
}

.nav-left a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

/* CENTRO */
.nav-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* DERECHA */
.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* BUSCADOR */
.search-wrapper {
  position: relative;
}

.search-wrapper input {
  padding: 8px 12px 8px 35px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.search-wrapper i {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
}

/* BOTÓN */
#login-button {
  background-color: white; /* azul */
  color: black;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

/* ICONO CUENTA */
#account-button {
  position: absolute;
}
